<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
    <body>
        <h1> <%= title %> </h1>
        <p>Email: <%= email %></p>
        <p>Password: <%= password %></p>
        <a href='/'>Wróć do strony główej</a>
    </body>
</html>